body div {
  /* border: 1px solid black; */
}

.menu {
    text-align: center;
}

.Gamefield {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grid {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  font-size: 1em;
}
